*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

html,
body,
:root {
  height: 100%;
}

body {
  width: min(100vw, 1278px);
  margin-inline: auto;
  font-family: var(--font-sans);
  font-size: var(--font-size-fluid-0);
  background-color: var(--white);
  position: relative;
}
a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

button {
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

.img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}
