.card {
  position: relative;
  cursor: pointer;

  opacity: 0;
  transform: translateY(200px);

  animation: fadeIn cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
  animation-timeline: view();
  animation-range-start: -150px;
  animation-range-end: 500px;
  animation-iteration-count: 1;
}

.card_image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.card_button {
  position: absolute;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.5;
  border: 1px solid #fff;

  transition: transform 0.3s linear, opacity 0.3s linear, scale 0.3s linear;
}

.card_button svg {
  width: 16px;
  height: 16px;
}

.card_button:hover {
  scale: 1.1;
}

.card:hover .card_button {
  opacity: 1;
  transform: translate(10px, -10px);
  scale: 1.05;
}

.card_backdrop {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  border-radius: 12px;

  transition: opacity 0.2s linear, backdrop-filter 0.2s linear;
}

.card:hover .card_backdrop {
  opacity: 1;
  backdrop-filter: blur(16px);
}

.card_backdrop_title {
  position: absolute;
  top: var(--size-fluid-2);
  left: var(--size-fluid-2);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-5);
  color: var(--gray-0);
  opacity: 0;

  transition: opacity 0.2s linear;
}

.card:hover .card_backdrop_title {
  opacity: 1;
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
